.primary-background {
  background-color: #565656;
}
.secondary-background {
  background-color: #444444;
}
.primary-outline-color {
  border-color: #353535;
}
.primary-text {
  color: #FF0000;
  font-family: Arial, Helvetica, sans-serif;
}
.friends-search-bar {
  background-color: #444444;
  border: 1px solid #444444;
  color: #FF0000;
}
.unread-messages-counter-container,
.ng-chat-people-action,
.ng-chat-people-action > i {
  background-color: #FF0000;
  color: #444444;
}
.load-history-action {
  background-color: #444444;
}
.chat-window-input {
  background-color: #444444;
  color: #FF0000;
}
.sent-chat-message-container,
.file-message-container {
  border-color: #444444;
  background-color: #444444;
}
.received-chat-message-container,
.file-message-container.received {
  background-color: #565656;
  border-color: #444444;
}
.ng-chat-footer {
  background-color: #444444;
}
.ng-chat-message a {
  color: #FF0000;
}
